body{
margin:0;
font-family:Segoe UI;
background:#eef2f7;
}

.navbar{
background:#007bff;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.sidebar{
width:200px;
height:100vh;
background:#2c3e50;
position:fixed;
padding-top:20px;
}

.sidebar a{
display:block;
color:white;
padding:12px;
text-decoration:none;
}

.sidebar a:hover{
background:#34495e;
}

.main{
margin-left:210px;
padding:20px;
}

.card{
background:white;
padding:15px;
margin:15px 0;
border-radius:10px;
box-shadow:0 0 12px rgba(0,0,0,0.1);
}